ion@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

body {
  font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 83.75%;
  font-size: 87.5%;
  color:#333;
  font-weight:400;
  text-align: left;
  width:100%;
  position:relative;
  background-color:#fff;

    -webkit-backface-visibility: hidden;

//        -webkit-perspective: 1000px;
}
footer {
  display:block;
  clear:both;
}

p, pre {
    padding:0;
    line-height:1.5em;
    font-size:1em;
}

h3 {
   font-weight:300;
  font-size:1.5em;
   line-height:1.2em;
  margin:0;
  padding:0;
}
h4 {
  font-weight: 700;
  margin:0;
  padding:0;
    line-height:1.5em;
    font-size:1em;
}

h5 {
  font-weight: 400;
  text-decoration: underline;
  margin:0;
  padding:0;
    line-height:1.5em;
    font-size:1em;
}
h6 {
  font-weight: 400;
  font-style: italic;
  margin:0;
  padding:0;
    line-height:1.5em;
    font-size:1em;
}

h1 {
  font-size:3em;
  line-height:1.175em;
  padding:0;
  margin:0.5em 0 0.5em 0;
  font-weight:300;
}

h1 pre {
  display:inline;
  margin:0;
  padding:0;
}
h2 {
   font-weight:300;
  font-size:2em;
  line-height:1.25em;
  padding:0;
  margin:0 0 0.25em 0;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 300;
  font-style: normal;
}

small {
  font-size:0.835em;
  line-height:1.165em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    line-height:1.175em;
    margin:0 0 1.5em 0;
}   

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size:0.75em;
  line-height: 1.75em;

  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  margin:0 -2em 1.5em -2em;
  padding:2em;
  display:block;
  background-color: #f7f7f7;
}       

blockquote {
  color:inherit;
  font-style: normal;
  //font-weight: 300;
  font-size:1em;
  margin:0;
  padding:0;
  padding-left: 2em;
  padding-right: 2em;
  position:relative;
  margin:0 0 1.5em 0;
}

blockquote {
  font-size: 1.25em;
  line-height:1.5em;
}

blockquote:before {
  display: block;
  position:absolute;
  content: "\201C";
  font-size: 5em;
  line-height:0.75em;
  font-family:Georgia, Times, 'Times New Roman' Serif;
  left:-0.25em;
  color:inherit;
}

blockquote:after {
  display: block;
  position:absolute;
  content: "\201D";
  font-size: 5em;
  line-height:0;
  font-family:Georgia, Times, 'Times New Roman' Serif;
  right:-0.25em;
  bottom:-0.2em;
 color:inherit;
}

cite:before, figcaption:before {
content: "\2014 \2009";
 color:inherit;
}

cite, figcaption {
 display:block;
 font-style: normal;
 font-size: 0.75em;
 line-height:1.75em;
  font-weight: 300;
}

ul, ol {
  margin:0 0 1.5em 0;
}
ul li {

}
ol li {

}

sup, sub
{
 font-size:0.5em;
 line-height:1em;
 font-weight: 300;
 padding-right:0.5em;
}

hr {
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 0.1em solid #d0d0d0;
  padding:0;
  margin:1.5em 0 1.5em 0;
}

img {
  margin: 0 0 0.5em 0;
}
a:visited     {   color:#06c; }
a:focus,
a:hover     {   color:#06c; text-decoration: underline; }
a           {   color:#06c; text-decoration: none; }

a img {
  text-decoration: none;
  border:none;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  text-decoration: none;
    color:inherit;
}
h1, h2, h3, h4, h5, h6 {

  color:inherit;
}




/*
---------------------------------------------------------------
---------------------------------------------------------------
*/

ptnvas {
    z-index:0;
    //background-color:#257eb7;
    //width:100%;
    //height:100%;
    //cursor:pointer;
    //margin:2em;
    margin:0;
    padding:0;
    border:0;
    background-color: transparent;
}

#fullscreen {
  width:100%;
  height:100%;
  overflow:hidden;
  position:fixed;
  text-align: center;
}


nav {
 -webkit-transition-property:color, background;   
 -webkit-transition-duration: 0.4s, 0.4s;   
 -webkit-transition-timing-function: linear, ease-in;

  position:fixed;
  top:0;
  bottom:0;
  left:0;
  color:#222;
  background-color: white;
  text-align: left;
  width:12%;
  z-index:1;
  margin:0;
  padding:0;

  // border-right:1px solid #222;

}
nav a, nav a:visited {
  color:#333;
}

nav a:hover {
  color:#333;
}

nav div {
 // display:none;
 padding:2em 2em 0 2em;
}

nav h2 {
  padding:0;
  margin:0;
  text-align: center;
}

nav h1 {
  padding:0;
  text-align: center;
  margin:0 0 0.1em 0em;
}


nav:hover {
 -webkit-transition-duration: 0.2s, 0.2s;
  background:none;
  color:white;  
  border:none;
}

nav:hover a, nav:hover a:visited  {
  color:#fefefe;
}

nav:hover #mainnav {
  display:block;
}

article {
  //margin:6%;
  //width:800px;
}

#caption {
  position:fixed;
  bottom:8%;
  left:0%;
  width:100%;
  text-align:center;
  //background-color:white;
}


